*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f1f1f1;
  font-family: Roboto, sans-serif;
}

nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-size: larger;
  margin: 20px;
  text-transform: uppercase;
}

a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.702);
}

h1 {
  color: white;
  font-size: 120px;
  font-weight: bolder;
  text-transform: uppercase;
}

p {
  color: white;
  font-size: 60px;
  font-weight: bolder;
  text-transform: uppercase;
}

.start-live-btn {
  text-transform: uppercase;
  background-color: white;
  height: 50px;
  width: 230px;
  font-weight: bold;
  font-size: large;
  text-align: left;
  padding-left: 10px;
  border: 0px;
  border-radius: 3px;
}

img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0px;
}

.text-main {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
}

.button-streaming {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.streaming-logo {
  position: relative;
  left: -40px;
  z-index: 1;
  height: 30px;
  width: 30px;
}

.empty-div {
  width: 100%;
}

.down-btn-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.down-btn {
  height: 80px;
  width: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*animating the backdrop*/

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.down-btn-backdrop {
  position: relative;
  transform: translateX(-95px);
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.498);
  height: 110px;
  width: 110px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 0px;

  animation-name: pulsate;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

.down-btn > img {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
}

.down-btn-main {
  display: flex;
  align-items: center;
  width: 100px;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  a {
    font-size: xx-large;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 30px;
  }
  .text-main {
    left: 20px;
  }
}
